// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/grid";
@import "components/cards";

body {
  background: linear-gradient(135deg, #184453 0%, #0d1117 100%);

  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  color: white;
}